/**
 * GroupList Component Style for tingle
 * @author jiasong.js
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

@require '../node_modules/tingle-style/src/var'

// 未来的可配置项
tGroupListLineColor = #ddd
tGroupListHairlineColor = #ccc

.tGroup_List
  border-top 1px solid tGroupListLineColor
  border-bottom 1px solid tGroupListLineColor
.hairline.dpr3 .tGroup_List
  border-top rem(1) solid tGroupListHairlineColor
  border-bottom rem(1) solid tGroupListHairlineColor
.hairline.dpr2 .tGroup_List
  border-top 0.5px solid tGroupListHairlineColor
  border-bottom 0.5px solid tGroupListHairlineColor
.tGroup_List + .tGroup_List
  border-top none

.tGroup_ListItem
  position relative
.tGroup_ListItem:after
  content ''
  position absolute
  bottom 0
  left 0
  right 0
  border-bottom 1px solid tGroupListLineColor
.hairline.dpr3 .tGroup_ListItem:after
  border-bottom rem(1) solid tGroupListHairlineColor
.hairline.dpr2 .tGroup_ListItem:after
  border-bottom 0.5px solid tGroupListHairlineColor
.tGroup_ListItem:last-child:after
  border-bottom none
